@import "../config/variables";

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  .messages {
    width: 250px;
    height: 60vh;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: $boxShadow;
    li {
      span {
        font-weight: 600;
        font-size: 17px;
      }
      .self {
        color: $black;
      }
      .others {
        color: $orange;
      }
    }
  }
  .sendMsg {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 110%;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }
}
