@import "../partials/box";

.gameProgress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .timer {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    @include block("rect");
    &.emergency {
      color: red;
    }
  }
  .players {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      @include block("round");
    }
  }
}
