.gameProgress {
  display: flex;
  justify-content: space-around;
  .players {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 140px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background-color: white;
      border-radius: 20px;
      box-shadow: $boxShadow;
      margin-bottom: 15px;
    }
  }
}
