<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/styles/style.css")
        title Guess Mind
    body
        .loginBox
            form#js-loginForm
                input(type="text", placeholder="What's your nickname?")
        .gameContainer#js-gameContainer
            .chat
                ul.messages#js-messages
                form.sendMsg#js-sendMsg
                    input(type="text", placeholder="Write a message")
        script.
            window.events=!{events}
        script(src="/socket.io/socket.io.js")
        script(src="/static/js/main.js")